.add-to-cart {
  width: 100%;
  z-index: 9;
  border: 1px solid $new2;
  height: 35px;
  cursor: pointer;
  input {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto;
    display: block;
    color: black !important;
    background: transparent;
    margin: 0 auto;
    font-size: 16px;
    border: none;
    text-align: center;
    outline: none;
  }

  p {
    color: $new2;
    text-align: center;
    font-size: 18px;
    margin: 0;
  }

  .fx-btn {
    background: white;
    &:hover {
      background: #eee !important;
    }

    &:active {
      .plus-minus {
        color: #fff !important;
        position: relative;
        background: $new2 !important;
      }
    }
  }

  .input-cont {
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .col-lg-4 {
    box-sizing: border-box;
    position: relative;
    height: 35px;
  }

  .not-in-cart {
    width: 100%;
    cursor: pointer;

    .wrapp {
      height: 35px;
      line-height: 35px;
      &:hover {
        background: $new2;
        border: 1px solid $new2;
        p {
          color: #fff;
        }
      }
    }
  }
}

.add-to-cont-before {
  align-items: center;
  p {
    margin: 0;
    color: $new2;
    line-height: 35px;
    font-size: 14px;
  }
  .super-img {
    //margin-top:4px;
    img {
      //filter: brightness(0) invert(1);
      width: 24px;
    }
  }

  &:hover {
    background-color: $new2;
    p {
      color: white;
    }
  }
}

.price-cont-sub {
  text-align: center;
  padding-top: 4px;
  &.top {
    border-bottom: 1px solid #41436a6e;
    border-top: 1px solid #41436a6e;
    padding: 8px 0 4px 0;
  }
  input {
    height: 30px;
    font-size: 14px;
    outline: none;
    padding: 0 4px;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
    background: #f3f5f9;
    text-align: center;
    width: 60%;
    direction: ltr;
  }
  p {
    text-align: center;
    margin: 4px 0;
    color: $almost-black;
    font-size: 14px;
    display: inline-block;
    &.row-title {
      min-width: 51%;
      margin-bottom: 0;
      font-size: 12px;
    }
    &.row-val {
      border: none;
      border-radius: 5px;
      //background: #F3F5F9;
      min-width: 40%;
      padding: 8px 8px;
      margin: 0;
      font-weight: 500;
    }

    &.no-bg {
      background: transparent;
    }
    &.price {
      &:before {
        content: '\20AA';
        font-weight: 400;
        padding-right: 2px;
        font-size: 12px;
      }
    }
    &.percent {
      &:after {
        content: '%';
        font-weight: 400;
        padding-right: 4px;
        font-size: 12px;
      }
    }
  }
}
