.main-product-wrapper-cont {
  margin-bottom: 40px;

  //width:25% !important;
  &.home {
    margin-bottom: 0;
    //width:auto !important;
  }

  .main-product-wrapper {
    position: relative;
    background: #fff;
    transition: all 0.5s;
    box-shadow: none;
    cursor: pointer;
    margin: 5px;

    //min-height:250px;
    .discount-cont {
      position: absolute;
      top: 0;
      left: 0;

      p {
        padding: 10px 20px;
        background: $c2;
        color: #fff;
        margin: 0;
      }
    }

    .flip-card {
      background-color: transparent;
      width: 75px;
      height: 60px;
      perspective: 400px;
      position: absolute;
      top: 8px;
      left: 8px;
      cursor: pointer;
      z-index: 98;

      .flip-card-inner {
        position: relative;

        p {
          background: orange;
          border-radius: 16px;
          text-align: center;
          color: #fff;
          padding: 4px 8px;
          margin: 0 0 8px 0;
          font-size: 14px;

          &.c1 {
            background: $new3;
          }

          &.c2 {
            background: $new4;
          }

          &.c3 {
            background: $new1;
          }

          &.c4 {
            background: transparent;
            color: $alert1;
            padding: 8px;
            padding: 0;
          }
        }
      }
    }

    .favorite-cont {
      position: absolute;
      top: 0px;
      right: 8px;
      z-index: 98;

      .material-symbols-outlined {
        padding: 6px;
        font-size: 30px;
        color: $new2;
        vertical-align: middle;
        align-items: center;

        &:hover {
          font-variation-settings:
            'FILL' 1,
            'wght' 300,
            'GRAD' 0,
            'opsz' 48;
          background: #88745136;
          border-radius: 100%;
        }
      }

      &.activeIcon {
        .material-symbols-outlined {
          font-variation-settings:
            'FILL' 1,
            'wght' 300,
            'GRAD' 0,
            'opsz' 48;
        }
      }
    }

    &.disable {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
      }

      &:after {
        content: 'חסר במלאי';
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: 98;
        width: 60px;
        text-align: center;
        background: $c2;
        border-radius: 50%;
        color: #fff;
        padding: 11px 0;
      }

      &:hover {
        box-shadow: 12px 12px 16px #ccc;

        .flip-card-inner {
          opacity: 0;
        }
      }
    }

    .add-to-cart {
      width: 100%;
      z-index: 9;
      //transition: width 0.5s;
      border: 1px solid $new2;
      height: 35px;

      //border-radius:5px;
      &.in-cart {
        opacity: 1;
      }

      &.not-in-cart {
        width: 100%;
        cursor: pointer;
        .wrapp {
          //padding: 7px 16px;
          height: 35px;
          line-height: 35px;
        }
      }

      .wrapp {
        align-items: center;

        //padding: 8px 0;
        //min-height: 37px;
        .add-to-cont-after {
          height: 35px;
          width: 100%;
        }

        .col-lg-4 {
          box-sizing: border-box;
          //text-align: center;
          position: relative;
          height: 35px;

          &.input-cont {
            border-right: 1px solid black !important;
            border-left: 1px solid black;
          }
        }

        .fx-btn {
          position: relative;
        }

        img {
          display: block;
          height: 24px;
          margin: 0 auto;
          cursor: pointer;
        }

        .super-img {
          img {
            filter: brightness(0) invert(1);
          }
        }

        input {
          border: none;
          text-align: center;
          outline: none;
          font-size: 16px;
          color: $c2;
          direction: ltr;
        }

        p {
          color: $new2;
          text-align: center;
          font-size: 18px;
          margin: 0;
        }

        .plus-minus {
          font-size: 20px;
          height: 35px;
          line-height: 35px;
          font-weight: 100;
        }
      }

      .unit-cont {
        cursor: pointer;
        background: #fff;

        .col-lg-6 {
          background: #c98f0a30;

          p {
            text-align: center;
            margin: 10px 0;
            color: black;
          }

          &.active {
            background: $c2;

            p {
              color: #fff;
            }
          }
        }

        .col-lg-12 {
          background: $c1;

          p {
            text-align: center;
            margin: 10px 0;
            color: #fff;
          }
        }
      }
    }

    .img-cont {
      //min-height: 120px;
      .img {
        display: block;
        //width: 100%;
        height: 120px;
        width: auto;
        object-fit: cover;
        margin: 0 auto;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .prod-data-cont {
      &.user {
        //margin-bottom: 50px;
      }

      .last-price-cont {
        padding: 0 8px;
        margin-top: -5px;

        .last-price-row {
          p {
            display: inline-block;
            font-size: 13px;
            color: $c1;
            margin: 0;
            margin-bottom: 6px;

            &.Mask {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .p-title {
      margin: 0;
      margin-top: 8px;
      font-weight: 600;
      color: $new2;
      font-size: 15px;
      text-align: right;
      padding: 8px 6px;
      background: $main-bg;
      word-break: break-word;
      height: 55px;
      overflow: hidden;

      &:before {
        display: none;
      }
    }

    .price-main-cont {
      min-height: 22px;
      margin: 10px 0 0 0;
      padding: 0 10px 0 10px;

      h3 {
        margin: 0;
        text-align: right;
        padding-right: 8px;
        font-weight: 400;

        &:before {
          content: '₪';
          font-weight: 400;
          padding-right: 4px;
        }

        &.price {
          font-size: 18px;
          color: $c7;
          font-weight: 500;
        }
      }

      .unit-comp-cont {
        text-align: center;
        margin-bottom: 6px;
        min-height: 21px;
        white-space: nowrap;

        span {
          font-size: 12px;
          color: $new2;
          font-weight: 600;
        }
      }
    }

    .price-cont {
      text-align: center;

      .price-cont-sub {
        text-align: center;
        padding-top: 4px;

        &.top {
          border-bottom: 1px solid #41436a6e;
          border-top: 1px solid #41436a6e;
          padding: 8px 0 4px 0;
        }

        input {
          height: 30px;
          font-size: 14px;
          outline: none;
          padding: 0 4px;
          vertical-align: middle;
          border: none;
          border-radius: 5px;
          background: #f3f5f9;
          text-align: center;
          width: 60%;
          direction: ltr;
        }

        p {
          text-align: center;
          margin: 4px 0;
          color: $almost-black;
          font-size: 14px;
          display: inline-block;

          &.row-title {
            min-width: 51%;
            margin-bottom: 0;
            font-size: 12px;
          }

          &.row-val {
            border: none;
            border-radius: 5px;
            //background: #F3F5F9;
            min-width: 40%;
            padding: 8px 8px;
            margin: 0;
            font-weight: 500;
          }

          &.no-bg {
            background: transparent;
          }

          &.price {
            &:before {
              content: '\20AA';
              font-weight: 400;
              padding-right: 2px;
              font-size: 12px;
            }
          }

          &.percent {
            &:after {
              content: '%';
              font-weight: 400;
              padding-right: 4px;
              font-size: 12px;
            }
          }
        }
      }

      .price-subCont {
        display: inline-block;
      }

      .orgPrice-subCont {
        display: inline-block;
      }

      .price-widh-discount {
        display: flex;

        h3 {
          &.price {
          }

          &.old-price {
            text-decoration: line-through;
            color: #ccc;
            padding: 0;
            padding-right: 16px;
            font-size: 16px;
          }
        }
      }
    }

    .meaged-nav {
      height: 35px;

      &:hover {
        background: darken($c3, 10%);
      }

      .meaged-main {
        border: 1px solid $c1;
        height: 35px;

        p {
          color: #1f1f1f;
          text-align: center;
          font-size: 18px;
          margin: 0;
          line-height: 35px;
        }

        &:hover {
          border: 1px solid $c1;

          p {
            background: $c1;
            color: #fff;
          }
        }
      }
    }
  }
}

// .wrapp {
//   //padding: 7px 16px;
//   height: 35px;
//   line-height: 35px;
// }
