.contact-dept {
  background: #fff;
  padding: 20px 0 40px 0;

  .h1-cont {
    text-align: center;
    margin-bottom: 40px;
    h1 {
      display: inline-block;
      font-size: 40px;
      font-weight: 100;
      color: $titleBlack;
      margin: 0;
      position: relative;
      /*
        &:before{
          content:"";
          position:absolute;
          height:6px;
          width:10%;
          min-width:100px;
          background: $c2;
          bottom:-10px;
          right:-10%;
        }
*/
    }
  }
  .main-cont {
    max-width: 1200px;
    margin: 0 auto;
    .main-sub-cont {
      .square-cont {
        h2 {
          color: $c1;
          font-weight: 700;
          font-size: 22px;
        }
        .square-subcont {
          &.big {
            box-shadow: 4px 2px 6px 0px #e2e2e2;
            align-items: center;
            margin-bottom: 20px;
          }
          &.small {
            margin-top: 20px;
          }
          .text-cont {
            &.small {
              //box-shadow: 4px 2px 16px 2px #d2d2d2;
              .text-cont-sub {
              }
            }
            .text-cont-sub {
              margin: 20px;
              h2 {
                color: $titleBlack;
                font-weight: 600;
                font-size: 20px;
              }
              h3 {
                color: $suppGrey;
                font-weight: 500;
                text-align: right;
                font-size: 18px;
              }
              p {
                margin: 10px 0;
                color: #464761;
              }
            }
          }
          .img-cont {
            img {
              max-height: 200px;
              width: 100%;
              object-fit: cover;
              display: block;
            }
          }
        }
      }
    }
  }
}

.dnb-cont {
  background: #fff;
  img {
    width: 17%;
    margin: 0 auto;
    padding: 40px 0;
    display: block;
  }
}
