.modai-image {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #000;

  .close {
    cursor: pointer;
    position: absolute;
    background: #fff;
    border-radius: 100%;
    top: 40px;
    left: 16px;
    cursor: pointer;
    z-index: 999;

    img {
      display: block;
      width: 20px;
      padding: 16px;
      font-size: 30px;
    }

    span {
      font-size: 30px;
      padding: 10px;
    }
  }

  .img-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    img {
      margin: 0 auto;
      display: block;
      max-width: 50%;
    }
  }
}

.modal-wrapper {
  .goToProdBtn {
    text-align: center;
    margin-top: 10px;

    p {
      display: inline-block;
      padding: 10px 15px;
      border: 1px solid $c1;
      border-radius: 5px;
      color: $c1;
      cursor: pointer;
    }

    &:hover {
      p {
        background: $c1;
        color: #fff;
      }
    }
  }
}

.product-page {
  &.barcode-pop {
    #interactive.viewport {
      position: relative;
      width: 100%;
      height: auto;
      overflow: hidden;
      text-align: center;
    }

    #interactive.viewport > canvas,
    #interactive.viewport > video {
      max-width: 100%;
      width: 100%;
    }

    canvas.drawing,
    canvas.drawingBuffer {
      position: absolute;
      left: 0;
      top: 0;
    }

    #livestream_scanner {
      display: block !important;
      width: 100%;
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      z-index: 1050;
      overflow: visible;
      outline: none;

      .modal-header {
        h4 {
          text-align: center;
        }
      }

      .modal-content {
        border: none;
      }

      .modal-body {
        // max-width:200px;
        margin: 0 auto;
      }

      .modal-footer {
        // .btn{
        //   background:$c1;
        //   color:#fff;
        //   padding:10px 15px;
        // }
        input {
          display: none;
        }
      }
    }
  }

  &.DepartmentPop {
    width: 300px;
    margin: 0 auto;
  }

  .sales-info {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;

    .second-prod-maincont,
    .first-prod-maincont {
    }
  }

  .product-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 15px 10px;

    .image {
      position: relative;
      cursor: pointer;
      span {
        font-size: 30px;
        height: 40px;
        width: 40px;
        position: absolute;
        text-align: center;
        line-height: 40px;
        background: $greyBazar;
        border-radius: 9px;
        &:hover {
          font-variation-settings:
            'FILL' 1,
            'wght' 300,
            'GRAD' 0,
            'opsz' 48;
          background: darken($greyBazar, 10%);
        }
        &.span2 {
          top: 60px;
        }
      }
      .img {
        display: block;
        //width: 60%;
        max-height: 400px;
        height: 100%;
        width: auto;
        margin: 0 auto;
        object-fit: cover;
      }

      .delete-img {
        position: absolute;
        top: 0;
        left: 5px;
        background: rgba(0, 0, 0, 0.5);

        img {
          width: 30px;
          padding: 5px;
        }
      }
    }

    .product-details {
      margin: 0 30px;

      .hide-on-desctop {
        display: none;
      }

      .name {
        position: relative;

        h2 {
          font-size: 26px;
          font-weight: 500;
          //color: #474747;
          color: $new2;
          //width:80%;
          margin: 0;
          margin-bottom: 40px;
          position: relative;
          // &:before{
          //   content:"";
          //   position:absolute;
          //   height:10px;
          //   width:10%;
          //   min-width:50px;
          //   background: $c2;
          //   bottom:-15px;
          //   right:0%;
          // }
        }
        .devider {
          width: 100%;
          height: 1px;
          background-color: #eee;
          margin: 8px 0;
        }
        .prod-info-cont {
          margin-bottom: 16px !important;
          align-items: center;

          p {
            font-size: 20px;
            color: #737373;
            margin: 0;
            vertical-align: middle;
          }

          .c-title {
            display: inline-block;
            font-size: 15px;
            color: $dark-grey;
          }

          .c-nomber {
            display: inline-block;
            //margin-right: 16px;
            font-size: 15px;
            color: $text;
            //background: $light-c6;
            padding: 8px 16px;
            direction: ltr;
            word-break: break-all;
            text-align: right;
            &.rtl {
              direction: rtl;
            }
            &.link {
              cursor: pointer;
              &:hover {
                color: $new2;
              }
            }
            min-width: 50px;
          }
          .ExtendBtn {
            padding: 4px 16px;
            color: $new2;
            display: inline-block;
            font-size: 30px;
            cursor: pointer;
            vertical-align: middle;
            font-variation-settings:
              'FILL' 0,
              'wght' 600,
              'GRAD' 0,
              'opsz' 48;
            &:hover {
              font-variation-settings:
                'FILL' 1,
                'wght' 600,
                'GRAD' 0,
                'opsz' 48;
            }
          }
          &.input-cont {
            margin-bottom: 4px;
          }
          input {
            height: 35px;
            width: 80px;
            font-size: 16px;
            outline: none;
            padding: 0 16px;
            vertical-align: middle;
            border: none;
            border-radius: 5px;
            background: #f3f5f9;
          }
          img {
            max-height: 50px;
            display: block;
            transition: transform 0.2s;
            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }

      .bottom-flex {
        margin-top: 20px;
        align-items: end;

        .add-cont {
          max-width: 200px;
          position: relative;

          .added {
            img {
              width: 15px;
              height: auto !important;
              display: inline-block !important;
              vertical-align: middle !important;
            }

            p {
              color: #6ebb53 !important;
              display: inline-block !important;
              vertical-align: middle !important;
              font-size: 12px !important;
              margin-right: 5px !important;
              &.red {
                color: #c97c17 !important;
                vertical-align: middle;
              }
            }
            span {
              color: #6ebb53 !important;
              vertical-align: middle;
            }
          }
        }

        .sum-cont {
          margin-top: 20px;
          text-align: center;
          width: 100%;
          text-align: center;

          h3 {
            display: inline-block;
            position: relative;
            font-size: 20px;
            color: $new2;
            &.h3-1 {
              font-weight: 200;
              font-size: 20px;
            }

            &.h3-2 {
              margin-right: 5px;
              font-weight: 600;
              &:before {
                position: absolute;
                content: '₪';
                font-weight: 600;
                left: -25px;
              }
            }
          }
        }
      }

      .price {
        //margin-top:20px;
        h3 {
          margin: 0;
          font-size: 26px;
          text-align: right;

          &:before {
            content: '₪';
            font-weight: 400;
            padding-right: 4px;
          }

          &.price {
            color: $dark-grey;
            font-weight: 500;
            // /margin:20px 0 10px 0;
          }
        }

        .price-widh-discount {
          display: flex;

          h3 {
            &.price {
            }

            &.old-price {
              text-decoration: line-through;
              color: #ccc;
              padding-right: 16px;
            }
          }
        }
        .pricing-cont-cls {
          h3 {
            font-size: 16px;
            color: $new2;
            margin-top: 10px;
          }
        }
      }

      .details {
        margin-top: 8px;
        border-top: 1px solid #f5f5f5;

        p {
          color: #737373;
          line-height: 27px;
          font-size: 16px;
        }
      }

      .actions {
        // border-top: 1px solid #f5f5f5;
        //padding-top: 10px;
        // align-items: center;

        .close-pop-btn {
          .close-pop-btn-suncont {
            cursor: pointer;
            margin-right: 15px;
            background: #fff;
            border-radius: 30px;
            border: 1px solid $c1;

            &:hover {
              background: $c1;

              p {
                color: #fff;
              }
            }

            p {
              text-align: center;
              color: $c1;
              padding: 16px 0;
              margin: 0;
            }
          }
        }
      }

      .icons {
        margin-right: 24px;

        .wrapp {
          background: $c2;
          align-items: center;
          padding: 8px 16px;
          border-radius: 4px;
          min-height: 37px;
          display: flex;
          align-items: center;
          cursor: pointer;
          user-select: none;
          transition: all 0.5s;

          &:hover {
            // background: darken($c2, 20%);
          }

          img {
            display: block;
            width: 26px;
            padding-left: 14px;
          }

          p {
            color: #fff;
            text-align: center;
            font-size: 18px;
            margin: 0;
          }
        }

        .wrapper {
          align-items: center;
          padding: 8px 16px;
          border-radius: 4px;
          min-height: 37px;
          display: flex;
          align-items: center;
          cursor: pointer;
          user-select: none;

          &:hover {
            img {
              transform: scale(1.1);
            }
          }

          img {
            display: block;
            width: 26px;
            padding-left: 14px;
            transform: none;
            transition: all 0.5s;
          }

          p {
            color: $c2;
            text-align: center;
            font-size: 18px;
            margin: 0;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      /*
			.sales-info {
				border-top: 1px solid #f5f5f5;
				margin-top: 40px;
				padding-top: 24px;
				.wrapper {
					.img {
						background-image: url(#{$get-path-to-assets}products/product.jpg);
						width: 100px;
						height: 100px;
						background-repeat: no-repeat;
						background-size: 80px;
						margin: 0 auto;
						background-position: 50% 50%;
					}
					.flex-container.category-sales {
						align-items: top;
						text-align: center;
						margin-bottom: 8px;
						padding-bottom: 8px;
						border-bottom: 1px solid #f1f1f1;
						&:last-child {
							border-bottom: none;
						}
						p {
							margin: 0;
						}
						.last {
							a {
								display: block;
								color: $c2;
								padding-top: 8px;
							}
						}
						.quantity {
							align-self: center;
							text-align: center;
							p {
								font-size: 32px;
							}
						}
						.price {
							padding-top: 8px;
							.t {}
							.d {
								font-size: 24px;
								font-weight: 600;
								color: $c1;
							}
							.p {
								font-size: 24px;
								font-weight: 600;
								color: $c1;
							}
						}
						p.name {
							font-size: 18px;
							font-weight: 600;
							padding-bottom: 16px;
							padding-bottom: 8px;
						}

					}
					.flex-container.product-sales {
						align-items: top;
						text-align: center;
						align-items: center;
						text-align: center;
						margin-bottom: 8px;
						padding-bottom: 8px;
						border-bottom: 1px solid #f1f1f1;

						&:last-child {
							border-bottom: none;
						}

						.quantity {
							align-self: center;
							text-align: center;
							p {
								font-size: 32px;
							}
						}
						.arrow {
							align-self: center;
							text-align: center;
							img {
								display: block;
								width: 48px;
								margin: 0 auto;
							}
						}

						.price {
							padding-top: 8px;
							.t {}
							.d {
								font-size: 24px;
								font-weight: 600;
								color: $c1;
							}
							.p {
								font-size: 24px;
								font-weight: 600;
								color: $c1;
							}
						}
						p {
							margin: 0;
							&.name {
								font-size: 18px;
								font-weight: 600;
								padding-bottom: 16px;
							}
						}
					}
					.flex-container.for-quantity {
						align-items: center;
						text-align: center;
						margin-bottom: 8px;
						padding-bottom: 8px;
						border-bottom: 1px solid #f1f1f1;
						&:last-child {
							border-bottom: none;
						}
						.price {
							p {
								position: relative;
								font-size: 24px;
								color: $c1;
								&:before {
									content: "₪";
									font-weight: 400;
									padding-right: 4px;
								}
							}
						}
					}
				}
			}
      */
    }

    .additional-img-cont {
      .additional-imgs-slider {
        margin-top: 16px;

        .images-slider .swiper-container {
          width: 90%;
        }

        .product-item {
          .sliderImg-main-cont {
            margin: 8px 2px;
            padding: 4px;
            border: 1px solid #e8e8e8;

            &:hover {
              box-shadow: 0px 0px 5px -1px #a9a8a88c;
            }

            img {
              height: 70px;
            }
          }
        }

        .swiper-navigation {
          top: 50%;
        }
      }
    }
  }
}

.ExtendBtn {
  padding: 4px 16px;
  color: $new2;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  vertical-align: middle;
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
  &:hover {
    font-variation-settings:
      'FILL' 1,
      'wght' 600,
      'GRAD' 0,
      'opsz' 48;
  }
}
